<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.android.automation.test1.SwiggyAppTest">
        <methods>
        <include name="LocateMe_InvalidLocation_tc3" />
        <include name="Signup_Invalid_phone_number_tc2" />
        <include name="Checkbox_Radio__Adding_Item_tc1" />
        </methods>
      </class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
