<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.android.automation.test1.SwiggyAppTest">
        <methods>
        <include name="runLoginTest" />
        <include name="runLogoutTest" />
        <include name="swiggyHomePage" />
        <include name="runLocationTest" />
        <include name="swiggySearchPage" />
        <include name="Add_To_Cart" />
        </methods>
      </class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
